.area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.pokeName::first-letter{
    text-transform: uppercase;
}

.type1::first-letter{
    text-transform: uppercase;
}

img{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8, %3Csvg width=%22100%25%22 height=%22100%25%22 viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 %3E %3Cdefs%3E %3CclipPath id=%22shape%22%3E %3Cpath fill=%22currentColor%22 d=%22M839%2C614Q814%2C728%2C731.5%2C844Q649%2C960%2C511%2C925Q373%2C890%2C266.5%2C818.5Q160%2C747%2C114%2C623.5Q68%2C500%2C138%2C394Q208%2C288%2C281%2C169Q354%2C50%2C502.5%2C43Q651%2C36%2C747%2C143.5Q843%2C251%2C853.5%2C375.5Q864%2C500%2C839%2C614Z%22%3E%3C%2Fpath%3E %3C%2FclipPath%3E %3C%2Fdefs%3E %3Cg clip-path=%22url(%23shape)%22%3E %3Cpath fill=%22%232EB9CC%22 d=%22M839%2C614Q814%2C728%2C731.5%2C844Q649%2C960%2C511%2C925Q373%2C890%2C266.5%2C818.5Q160%2C747%2C114%2C623.5Q68%2C500%2C138%2C394Q208%2C288%2C281%2C169Q354%2C50%2C502.5%2C43Q651%2C36%2C747%2C143.5Q843%2C251%2C853.5%2C375.5Q864%2C500%2C839%2C614Z%22 %2F%3E %3C%2Fg%3E %3C%2Fsvg%3E");
}